body
 {
    background-color:  #c0c1c4;;
    text-align: center; 
}
.box {
  display: flex;
}

.one {
  flex: 50%;
}

.two {
  flex: 50%;
}

.three{
  flex:15%
}

.four{
  flex:15%
}

.five{
  flex:15%
}

.six{
  flex:15%
}

.seven{
  flex:15%
}

.eight{
  flex:15%
}

.nine{
  flex:15%
}

.ten{
  flex:15%
}
